:root{
    --bg-color: #ffd170;
    --btn-color: #f44e5f;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);
  /* background-image: url("background-img.png"); */
    
  background-size: cover;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sunflower", sans-serif;
  overflow-x: hidden;
}


a {
  text-decoration: none;
  color: black;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr{
    margin: 0;
    padding: 0;
    border: 0.5px solid #373737;
}

.logo-text{
    font-size: 2rem;
    padding: 20px;
}

.nav-bar {
  width: 100%;
  display: flex;
justify-content: center;
    align-items: center;
  padding: 1em;
    font-family: 'Jua', sans-serif;
}

.ul-content{
    display: flex;
}

.ul-content >li{
    box-sizing: none;
    
}

.ul-content >li >a{
    padding: 1em;
    border: 1px solid var( --bg-color );
}
.ul-content >li>a:hover{
    border: 1px solid black;
}


.container {
  width: 100%;
  height: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.frame-content{
    max-width: 600px;
    text-align:center;
}

.img-frame{
    width: 100%;
}

.img-explanation{
    width: 100%;
    height: 57px;
    margin-top: 2.5rem;
    background-image: url("explanation.png");
    background-repeat: no-repeat;
    background-size: contain ;
    background-position:center center;
    
}

.input-name{
    display: flex;
    justify-content:center;
    margin-top: 1rem;
}

.input-name input{
    margin: 0.3rem;
}

.input-style{
    width:32%;
    height:3rem;
    border-radius: 0.3rem;
    border: 1px solid #383838;
    text-align: center;
    font-size: 1.5rem;
    
}

.input-style:hover{
    box-shadow: 1px 1px 1px black;
    border: 1px solid 
}

.btn-style{
    width: 68%;
    height: 3rem;
    border:none;
    border-radius: 1.5rem;
    background-color: var(--btn-color);
    font-size: 1.3rem;
    color:white;
    font-weight:500;
    cursor: pointer;
    margin-top: 1rem;
}

.btn-style:hover{
    font-size: 1.35rem;
}

.btn-style:focus{
    border: none;
    outline: none;
}

.btn-1{
    display:inline-block;
}
.btn-2{
    display: none;
}

.bg-frame {
    width:100%;
    height: 440px;
    /* height : auto; */
    position: relative;
    top:10px;
    background-image: url("frame-bg.png");
    background-repeat: no-repeat;
    background-size: contain ;
    background-position:center center;
}


/* --------------------------------------------*/
 
.result-list{
    width: 100%;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-list ul{
    display: flex;
}

.name-list{
    width:100%;
    display:flex;
    justify-content:center;
    font-size: 2rem;
    margin-top: 8%;    
}

.name-list li{
    padding: 0 2.5%;
}

.name-red{
    color: #e77a7a;
}

.name-blue{
    color: #7484d5;
}

.count-list{
    width:100%;
    font-size: 1.5rem;
    display:flex;
    justify-content:center;
    padding-bottom: 1.4rem;
}

.count-list li{
    padding: 0 1.45rem;
}

.result-number{
    font-size: 3rem;
    color: #f44e5f;
    font-weight: 500;
}
/* --------------------------------------------*/



@media screen and (max-width: 1080px){
    .nav-bar{
        padding: 0;
        margin: 5px 0;
    }
    
    .ul-content{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .img-explanation, .input-name, .btn-style{
        margin:0;
    }
    .bg-frame{
        top: 0;
        margin: 0 auto;
        width: 90%;
        height: 280px;
    }
    
    .name-list{
        margin-top: 5%;
        font-size: 1.5rem;
    }
    
    .name-list li{
        padding: 0 1.8%;
    }
    
    .count-list{
        font-size: 1.3rem;
        padding-bottom: 0.5rem;    
    }
    
    .count-list li{
        padding: 0 3%;
    }
    
    .img-explanation{
        width:65%;
        margin: 10px auto;
    }
    
    .btn-style{
        margin: 10px 0;
    }
}


@media screen and (max-width: 400px){
    .img-explanation, .input-name, .btn-style{
        margin:0;
    }
    .bg-frame{
        top: 0;
        margin: 0 auto;
        width: 90%;
        height: 250px;
    }
    
        .name-list{
        margin-top: 5%;
        font-size: 1.5rem;
    }
    
    .name-list li{
        padding: 0 1.8%;
    }
    
    .count-list{
        font-size: 1.3rem;
        padding-bottom: 0.2rem;    
    }
    
    .count-list li{
        padding: 0 3.2%;
    }
    
    .img-explanation{
        width:68%;
        margin: 0 auto;
    }
    
    .btn-style{
        margin: 10px 0;
    }
}